.even-columns {
  display: flex;
  flex-direction: column;
  align-items: var(--align);
  justify-content: var(--justify);
  gap: var(--gap);

  @media (min-width: 37.5rem) {
    flex-direction: row;
  }
}
